@if (character()) {
  @if (spousesList().length > 0) {
    <div class="c-node--spouses-list">
      @for (spouse of spousesList(); track spouse.id) {
        <div class="c-node__name c-node__name--spouse" [style.color]="spouse.corTexto">
          {{ spouse.nome }}
        </div>
      }
    </div>
  } @else if (character().isChildlessSpouse) {
    <div class="c-node__name c-node__name--spouse" [ngClass]="'house-' + character().house.toLowerCase()">
      {{ character().name }}
    </div>
  } @else {
    <div
      class="c-node"
      (click)="openCharacter()"
      role="button"
      tabindex="0"
      [ngClass]="'house-' + character().house.toLowerCase()"
      [class.is-royal]="character().isKingOrQueen"
      [class.is-bastard]="character().isBastard"
      [class.is-founder]="character().id === 'aegon-i'"
    >
      <div class="c-node__photo-wrap">
        <img class="c-node__photo" [src]="character().imageUrl" [alt]="character().name" />
      </div>
      <div class="c-node__info">
        <div class="c-node__name">{{ character().name }}</div>
        @if (character().title) {
          <div class="c-node__title">{{ character().title }}</div>
        }
      </div>
    </div>
  }
}

<ng-diagram-port [side]="'top'" [type]="'both'" [id]="'port-top'" />
<ng-diagram-port [side]="'bottom'" [type]="'both'" [id]="'port-bottom'" />
<ng-diagram-port [side]="'left'" [type]="'both'" [id]="'port-left'" />
<ng-diagram-port [side]="'right'" [type]="'both'" [id]="'port-right'" />
